body{
    background-color: #b6b4b6;
}
#div{
    width: 1200px;
    margin: 20px auto;
}
#div div{
    height: 35px;
    line-height: 35px;
    padding: 0 35px;
    background-color: white;
    font-size: 18px;
}
#div div span {
    color: #b6b4b6;
}
#div div a{
    color: #555555;
    margin-left: 20px;
}
#div ul {
    margin-top: 20px;
    margin-left: -15px;
    overflow: hidden;
}
#div ul li {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 224px;
    background-color: white;
}
#div ul li img{
    width:100%;
}
#div ul li span{
    margin-left: 15px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}