#tab{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 150px;
    margin: -75px -150px;
    background-color: #2c85ce;
    color: #2f2f2f;
    font-size: 60px;
    line-height: 150px;
    text-align: center;
}