body{
    background-color: #f5f5f5;
}
#tab{
    width: 1200px;
    margin: 30px auto;
}
#tab>div{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
}
#tab>div a{
    display: inline-block;
    margin: 0 15px;
    font-weight: bold;
    color: #9d9d9d;
}
#tab>div a:hover{
    color: #ff6600;
}
#tab ul{
    margin: 15px 0 0 -15px;
}
#tab ul li{
    float: left;
    width: 226px;
    margin:0 0 20px 15px;
    background-color: white;
    border: 1px solid transparent;
}
#tab ul li:hover{
    border: 1px solid #c5cdcf;
}
#tab ul li img{
    width: 226px;
}
#tab ul li span{
    width: 228px;
    text-align: left;
    display: inline-block;
    margin: 0 0 15px 15px;
    font-size: 14px;
}
#tab ul li span:hover{
    color: #ff6600;
}