body{
    background:lightgray;
}
.wrap{
    width: 1200px;
    margin:0 auto;
    font-size:16px;
}
.top{
    height:60px;
    line-height: 60px;
    background: #ffffff;
}
.top span{
    margin:0 20px;
}
.top a{
    margin-right:15px;
    color:lightgray;
}
.top a:hover{
    color:red;
}
.bottom{
    margin-top:30px;
    font-size:14px;
}
.bottom ul{
    overflow: hidden;
    margin-right:-15px;
}
.bottom ul li{
    width:195px;
    margin:0 15px 15px 0;
    background: #ffffff;
    float: left;
    padding:15px;
    text-align: center;
    border:1px solid #ffffff;
}
.bottom ul li img{
    width: 150px;
}
.bottom ul li h4{
    padding:8px 0 6px 0;
}
.bottom ul li span{
    display: block;
    padding:6px 0;
}
.bottom ul li em{
    font-style:normal;
    color:orangered;
}
