html,body{
    margin: 0px;
    padding: 0px;
    background: darkgray;
    font-size: 14px;
    color: dimgrey;
}
.wrap{
    width: 1200px;
    margin: 10px auto;
}
h5{
    height: 30px;
    line-height: 30px;
    background: white;
    padding: 10px 0px 10px 5px;
    margin: 16px 0px;
}
h5 span,h5 a{
    margin: 0px 15px;
    color: dimgrey;
    font-weight: normal;
}
h5 a{
    color: darkgray;
}
h5 a:hover{
    color: red;
}
.content{
    margin-left: -16px
}

.content dl{
    float: left;
    background: white;
    padding: 0px 10px;
    margin-left: 16px;
    margin-bottom: 16px;
    border:1px solid #fff
}
.content dl:hover{
    border: 1px solid red;
}
.content dl dt{
    width: 164px;
}
.content dl dt img{
    width: 100%;
}
.content dl dd{
    padding: 5px 0px;
}