
div{
    margin: 200px auto;
    /*width: 100px;*/
    height: 100px;
    line-height: 100px;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%; ;
    background-color: deepskyblue;
    font-size: 70px;
    color: white;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}