#tab{
    width: 300px;
    margin: 50px auto;
    background-color: #9d9d9d;
}
#tab ul{
    list-style: none;
}
#tab ul li{
    float: left;
    width: 100px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #f77e1b;
    color: rebeccapurple;
    font-size: 20px;
}
#tab ul li.select{
    background-color: red;
    color: white;
}
#tab div{
    height: 200px;
    line-height: 200px;
    text-align: center;
    display: none;
    font-size: 60px;
}
#tab div.select{
    display: block;
}